.btns{
    display: flex;
}
.btns > li > a{
    margin: 4px;
    
}
body{
    width: 100%;
    height: 100%;

}

body{
    background-image: url("../bg.jpg");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
  
}

#card-container{

    margin-top: 70px;
    display: flex;
    justify-content: center;
    
}
.card{
    text-align: center;
    padding: 30px;
}

.card > div > a{
    margin: 5px;
}



.footer{
    position: relative;
}
div > footer{
    text-align: center;
    color: black;
    margin-top: 25vh;
    width: 100%;
    height: 20px;
    background-color: white;
    height: 55px;
    margin-bottom: 0px;
}



body > div.footer > footer > p{
    padding: 10px;
    margin-top: 5px;
}